@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

main {
  width: 100%;
  height: 100vh;
  overflow-x: hidden; }
  main #header {
    width: 100%;
    border-bottom: 1px solid #efefef;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
    main #header .inner {
      width: 1180px;
      height: 100px;
      margin: 0 auto;
      position: relative; }
      main #header .inner h1 {
        width: 20%;
        position: absolute;
        top: 29px;
        left: 0; }
        main #header .inner h1 a {
          display: block;
          width: 100%;
          height: 50px;
          font: 24px/50px 'arial';
          color: #000; }
      main #header .inner > .gnb {
        width: 65%;
        position: absolute;
        left: 20%; }
        main #header .inner > .gnb::after {
          content: "";
          display: block;
          clear: both; }
        main #header .inner > .gnb > li {
          float: left;
          width: 120px;
          height: 90px;
          text-align: center; }
          main #header .inner > .gnb > li:hover {
            border-bottom: 2px solid #222; }
          main #header .inner > .gnb > li:nth-of-type(1) .sub ul {
            position: relative;
            margin-left: 0vw; }
          main #header .inner > .gnb > li:nth-of-type(2) .sub ul {
            position: relative;
            margin-left: 0.01vw; }
          main #header .inner > .gnb > li:nth-of-type(3) .sub ul {
            position: relative;
            margin-left: 0.04vw; }
          main #header .inner > .gnb > li:nth-of-type(4) .sub ul {
            position: relative;
            margin-left: 0.05vw; }
          main #header .inner > .gnb > li:nth-of-type(5) .sub ul {
            position: relative;
            margin-left: 0.05vw; }
          main #header .inner > .gnb > li:nth-of-type(6) .sub ul {
            position: relative;
            margin-left: 0.05vw; }
          main #header .inner > .gnb > li a {
            font: 15px/112px 'arial';
            color: #222; }
          main #header .inner > .gnb > li .sub {
            width: 250px;
            display: none; }
            main #header .inner > .gnb > li .sub > .subli {
              width: 250px;
              background: #fff; }
              main #header .inner > .gnb > li .sub > .subli > li {
                width: 100%;
                padding: 0px 30px; }
                main #header .inner > .gnb > li .sub > .subli > li:first-child {
                  padding-top: 30px; }
                main #header .inner > .gnb > li .sub > .subli > li:last-child {
                  padding-bottom: 40px; }
                main #header .inner > .gnb > li .sub > .subli > li a {
                  display: block;
                  width: 100%;
                  height: 50px;
                  font: 15px/50px 'Noto Serif';
                  color: #000;
                  text-align: left;
                  border-bottom: 1px solid #eee; }
                  main #header .inner > .gnb > li .sub > .subli > li a span {
                    margin-left: 5px;
                    font-size: 10px;
                    color: #000; }
                  main #header .inner > .gnb > li .sub > .subli > li a::after {
                    content: '';
                    display: block;
                    width: 120px;
                    height: 2px;
                    background: #cfb6a4;
                    position: relative;
                    top: -3px;
                    opacity: 0; }
                main #header .inner > .gnb > li .sub > .subli > li:hover a::after {
                  animation-name: lineani;
                  animation-duration: 1s;
                  animation-fill-mode: forwards; }
      main #header .inner > a {
        display: block;
        width: 8%;
        height: 28px;
        border: 1px solid #efefef;
        text-align: center;
        font: 12px/28px 'Noto Serif';
        color: #222;
        position: absolute;
        right: 0px;
        top: 42%; }
      main #header .inner .btnCall {
        display: block;
        width: 30px;
        height: 16px;
        position: absolute;
        right: 0px;
        display: none; }
        main #header .inner .btnCall::before {
          content: "";
          display: block;
          width: 80%;
          height: 2px;
          background: #222;
          transition: 0.5s; }
        main #header .inner .btnCall span {
          display: block;
          width: 60%;
          height: 2px;
          background: #222;
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -1px;
          text-indent: -9999px;
          transition: 0.5s; }
        main #header .inner .btnCall::after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background: #222;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: 0.5s; }
        main #header .inner .btnCall:hover::before {
          width: 100%; }
        main #header .inner .btnCall:hover span {
          width: 100%; }
      main #header .inner .menuMo {
        width: 300px;
        height: 100vh;
        background: #ddd;
        position: fixed;
        left: -300px;
        top: 0;
        z-index: 10;
        box-shadow: 5px 0px 10px -10px #000;
        transition: 1s; }
        main #header .inner .menuMo .txtbox {
          width: 100%;
          height: 280px;
          padding: 40px;
          background: #fff; }
          main #header .inner .menuMo .txtbox > a {
            display: block;
            width: 25px;
            height: 25px;
            position: relative;
            margin-bottom: 60px; }
            main #header .inner .menuMo .txtbox > a::before {
              content: "";
              display: block;
              width: 100%;
              height: 2px;
              background: #000;
              position: absolute;
              top: 50%;
              margin-top: -1px; }
            main #header .inner .menuMo .txtbox > a span {
              display: block;
              text-indent: -9999px; }
            main #header .inner .menuMo .txtbox > a::after {
              content: "";
              display: block;
              width: 100%;
              height: 2px;
              transform: rotate(-90deg);
              background: #000;
              position: absolute;
              top: 50%;
              margin-top: -1px;
              transition: 0.5s; }
            main #header .inner .menuMo .txtbox > a:hover::after {
              transform: rotate(0deg); }
          main #header .inner .menuMo .txtbox p {
            width: 250px;
            font: 16px/1.8 'Noto Serif';
            color: #000; }
            main #header .inner .menuMo .txtbox p a {
              font-size: 16px;
              color: #000;
              position: relative; }
              main #header .inner .menuMo .txtbox p a::after {
                content: "";
                display: block;
                width: 50px;
                height: 1px;
                background: #000;
                position: absolute;
                left: 0px;
                bottom: -2px; }
        main #header .inner .menuMo .gnbmo {
          background: #eee; }
          main #header .inner .menuMo .gnbmo li {
            width: 100%;
            padding: 20px 40px;
            border-bottom: 1px solid #ddd; }
            main #header .inner .menuMo .gnbmo li a {
              display: block;
              height: 40px;
              font: 15px/40px 'Cardo';
              color: #000; }
        main #header .inner .menuMo.on {
          left: 0; }
@keyframes lineani {
  from {
    width: 0px; }
  to {
    width: 80px;
    opacity: 1; } }
  main #visual {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%; }
    main #visual .inner {
      width: 100vw;
      height: 100%;
      margin: 0 auto;
      position: relative; }
      main #visual .inner::after {
        content: "";
        display: block;
        clear: both; }
      main #visual .inner .txtbox {
        width: 40%;
        min-height: 300px;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        float: left;
        transition: 1s; }
        main #visual .inner .txtbox .txtlist {
          position: absolute;
          opacity: 0;
          text-align: center; }
          main #visual .inner .txtbox .txtlist.on {
            opacity: 1; }
            main #visual .inner .txtbox .txtlist.on h2 {
              opacity: 1;
              margin-left: 0; }
            main #visual .inner .txtbox .txtlist.on a {
              opacity: 1;
              transform: translateY(0px); }
          main #visual .inner .txtbox .txtlist > span {
            font-size: 20px;
            display: block;
            margin-bottom: 20px; }
          main #visual .inner .txtbox .txtlist > h2 {
            font: bold 50px/1  'Noto Sans KR';
            letter-spacing: 4px;
            color: #222;
            opacity: 0;
            margin-left: 120px;
            transition: 2s;
            margin-bottom: 30px; }
          main #visual .inner .txtbox .txtlist > p {
            font: 20px/1.2  'Noto Sans KR';
            color: #222;
            margin-bottom: 40px; }
          main #visual .inner .txtbox .txtlist > a {
            display: block;
            width: 150px;
            height: 50px;
            border: 1px solid #efefef;
            font-size: 15px;
            color: #222;
            line-height: 50px;
            text-align: center;
            letter-spacing: 2px;
            transform: translateY(40px);
            transition: 1.4s;
            transition-delay: 0.2s;
            opacity: 0;
            margin: 0 auto; }
      main #visual .inner .slidebox {
        width: 100vw;
        height: 100%;
        float: right;
        z-index: 1;
        overflow: hidden; }
        main #visual .inner .slidebox .slidewrap {
          width: calc(100vw * 3);
          height: 100%;
          margin-left: -100%; }
          main #visual .inner .slidebox .slidewrap li {
            width: calc(100% / 3);
            height: 100%;
            float: left; }
            main #visual .inner .slidebox .slidewrap li img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
          main #visual .inner .slidebox .slidewrap .slide1 {
            background: lightpink; }
          main #visual .inner .slidebox .slidewrap .slide2 {
            background: #222; }
        main #visual .inner .slidebox .slidebtn {
          font-size: 0;
          float: left;
          z-index: 2; }
          main #visual .inner .slidebox .slidebtn > a {
            display: inline-block;
            width: 60px;
            height: 60px;
            border-radius: 50px;
            background: rgba(255, 255, 255, 0.4);
            padding: 0px 24px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center; }
            main #visual .inner .slidebox .slidebtn > a:nth-of-type(1) {
              text-align: right;
              top: 50%;
              left: 2vw; }
            main #visual .inner .slidebox .slidebtn > a:nth-of-type(2) {
              text-align: left;
              top: 50%;
              right: 2vw; }
            main #visual .inner .slidebox .slidebtn > a img {
              width: 20px;
              height: 20px;
              object-fit: cover; }

/*# sourceMappingURL=style.css.map */
