@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
ul,ol,li{list-style: none;}
a{text-decoration: none;}

// .swiper{
//     width: 100%; height: 100vh;
//     .swiper-wrapper{
//         width: 100%; height: 100%;

//         .swiper-slide{
//             width: 100%; height: 100%;
            
//             .slide1{
//                 //overflow: hidden;
//                 >div{
//                     width: 100%; height: 100%;
//                     background-image: url(../img/2.png);
//                     object-fit: cover;

//                     &:nth-of-type(1){
//                         clip-path: inset(0% 75% 0% 0%);
//                     }
//                     &:nth-of-type(2){
//                         clip-path: inset(0% 50% 0% 25%);
//                     }
//                     &:nth-of-type(3){
//                         clip-path: inset(0% 25% 0% 50%);
//                     }
//                     &:nth-of-type(4){
//                         clip-path: inset(0% 0% 0% 75%);
//                     }
//                 }
//             }
        
//         }
//     }
// }

main{
    width: 100%; height: 100vh;
    position: relative;
    
    .swiper-wrapper{
        width: calc(100% * 3); height: 100%;
        
        
        .swiper-slide{
            
            width: (100% / 3); height: 100%;
            
            >div img{
                width: 100%; height: 100%;
                object-fit: cover;
                position: absolute; top: 0; left: 0;
                transition: 2s;
                

                &:nth-of-type(1) img{
                    clip-path: inset(0% 75% 0% 0%);
                }
                &:nth-of-type(2) img{
                    clip-path: inset(0% 50% 0% 25%);
                }
                &:nth-of-type(3) img{
                    clip-path: inset(0% 25% 0% 50%);
                }
                &:nth-of-type(4) img{
                    clip-path: inset(0% 0% 0% 75%);
                }
    
                &:hover{
                    &:nth-of-type(1){
                        clip-path: inset(0% 100% 0% 0%);
                    }
                    &:nth-of-type(2){
                        clip-path: inset(0% 75% 0% 25%);
                    }
                    &:nth-of-type(3){
                        clip-path: inset(0% 50% 0% 50%);
                    }
                    &:nth-of-type(4){
                        clip-path: inset(0% 25% 0% 75%);
                    }
    
                }
            }

            

        }
        
    }
}